header{
    background-color: #fff;
    padding: 7px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
}
.head-menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #42464f;
    font-weight: 500;
    margin-right: 20px;
}
.active{
    color: #42b773 !important;
}
.head-menu a:hover{
    color:#42b773 ;
    transition: .3s;
}